article{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-left: 15px;
}
p {
    margin-left: 15px;
    line-height: 3px;
    font-size: 15px;
}
h3{
    margin-left: 15px;
}
.footer{
    position: absolute;
    left: 0;
    width: 100%;
    background-color: lightseagreen;
    text-align: center;
    margin-bottom: -600px;
  }
  .hzlogo{
    width: 50px;
  }