.FAQ{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
summary{
    cursor: pointer;
    width: 300px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
}
p{
    line-height: 2px;

}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightseagreen;
    text-align: center;
}
.hzlogo{
    width: 50px;
}
