body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  position: relative;
  background-color: rgb(3, 16, 75);
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;

}

.navigation a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation a:hover {
  background-color: rgb(12, 52, 112);

}

.navigation a.active {
  background-color: #02bdca;
}

.navigation a {
  border-right: 1px solid #bbb;
}

body{
  background: #4f4a4a;
  color: white;
}

a{
  color:aqua;
}

/*tabel*/

table, th, td {
    border:2px solid black;
    border-collapse:collapse;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
th{
    color: white;
}
th {
    background-color: #303686;

}
table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color: white;
    color: black;
}

/*h2{*/
/*    text-align: center;*/
/*}*/

/*p{*/
/*    text-align: center;*/
/*}*/

/*sidebar*/
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(3, 16, 75);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar li {
    list-style: none;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family:Arial, Helvetica, sans-serifF

}

.sidebar a:hover {
    color: #ffffff;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(3, 16, 75);
    color: white;
    padding: 10px 10px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}
#main {
    transition: margin-left .5s;
    padding: 0px;
}

#main nav li span {
    color:white;
    height: 10px;
    margin: 5px;
    float: right;
    position: relative;
}

.field {
    color: white;
}
