.motivation {
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
p {
    margin-left: 15px;
    line-height: 3px;
    font-size: 15px;
}
.picpc {
    width: 200px;
    float: right;
    margin-right: -600px;
    margin-top: 300px;
}
.picsite {
    width: 600px;
    float: right;
    margin-right: 0px;
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightseagreen;
    text-align: center;
}
.hzlogo {
    width: 50px;
}
.togoa2 {
    width: 50px;
    float: right;
    margin-right: 20px;
}
.lmao {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}

